*{
  margin:0;
}
body{
  height:100%;
  width:100%;
}
.header-content{
  height:50px;
  border-radius:5px;
  background-color:#ffe4c4;
  position:relative;
}
.header-name{
  display:flex;
}
.header-name h1{
  margin-top:5px;
  font-size:25px;
}
.header-items a{
  top:13px;
  position:absolute;
  text-decoration:none;
  right:0;
  color:#0000ff;
}
.header-items img{
  top:0px;
  position:absolute;
  height:35px;
  width:35px;
  right:70px;
  cursor:pointer;
}
.header-items .cart{
  height:18px;
  width:18px;
  text-align: center;
  border:1px solid #000000;
  position:absolute;
  right:80px;
  background-color:#ffffff;
  border-radius:100%;
  top:12px;
}
.main-content{
  margin-top:5px;
  display:flex;
}
.main-content .item-one{
  height:150px;
  width:20%;
  border:1px solid #ffffff;
  border-radius: 10px;
  background-color:#add8e6;
}
.main-content .item-one h3{
  text-align: center;
}
.main-content .item-two{
  width:80%;
  margin-left:10px;
  height: 100%;
  border-width:10px;
  background-color:#f5f5f5;
  border-radius:30px;

}
.main-content .item-two h2{
  text-align:center;
  background-color:#add8e6;
}
.item-one button{
  height:25px;
  width:60px;
  margin-top:10px;
  margin-left:10px;
  border-radius:10px;
  cursor:pointer;
}
.main-content .item-two .images{
  display:flex;
  flex-wrap:wrap;
}
.main-content .item-two .images div{
  height:300px;
  width:225px;
  margin:1px solid #000000;
  border-radius:10px;
  margin-bottom:15px;
  margin-right:5px;
  overflow:hidden;
  border:3px solid #000000
}
.main-content .item-two .images div:hover{
  transform:scale(0.9);
}
.main-content .item-two .images div p{
  font-weight:bold;
  margin-left:80px;
}
.main-content .item-two .images div button{
  border-radius:10px;
  padding:5px;
  width:150px;
  background-color: #ffe4c4;
  font-weight:bold;
  cursor:pointer;
  margin-left:30px;
}
.filter-images{
  display:flex;
  flex-wrap:wrap;
}
.filter-images .images{
  height:300px;
  width:260px;
  margin-left:10px;
  margin-top:5px;
  margin-bottom:10px;
  border-radius:10px;
  border:1px solid #000000;
}
.filter-images .images p{
  margin-left:70px;
}
.filter-images .images button{
  margin-left:70px;
}

